@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

nav h1 {
  font-size: 2rem;
}

nav ul { 
  list-style: none;
  display: flex;
  gap: 3rem;

  font-family: 'Inter', Arial;
  font-size: 1.2rem;
  font-weight: 300;
}

section#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff8ff;
  padding: 3rem 4rem;
}

div#banner-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#banner-text h1, p {
  font-family: "Sora", Arial;
  font-weight: 500;
  font-size: 3rem;
}

div#banner-left button {
  padding: 1rem 2rem;
  width: 40%;
  border-radius: 15rem;
  border: none;
  background-color: #0f9afe;
  color: #fff;
  font-family: "Inter", Arial;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.3s ease-in-out;
}

div#banner-left button:hover {
  background-color: #00386d;
  font-size: 1.1rem;
  
}

section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  padding: 3rem 4rem;
}

section#about h2 {
  font-family: "Sora", Arial;
  font-size: 2.5rem;
  font-weight: 500;
}

div#about-cards {
  display:flex;
  justify-content: space-around;
  text-align: center;
}

div.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Sora", Arial;
  width: 20.5rem;
}

div.card i {
  font-size: 3rem;
  color: #0F9AFE;
}

div.card h3{
  font-size: 1.1rem;
  font-weight: 700;
}

div.card p{
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}